%titleBtn {
  text-decoration: none;
  color: $mediumGreen;
}

%navbarBtns {
  display: flex;
  font-size: 16px;
  align-items: center;
}

%border {
  border: 1px solid $lightGreen;
}

%articleContent {
  word-break: break-word;
  color: $mediumGreen;
  letter-spacing: 0.6px;
  line-height: 25px;
  white-space: pre-wrap;
}

%placeholder {
  &::placeholder{
    color: $darkGreen;
  }
}

%errorMessage {
  color: $errorColor;
  letter-spacing: 0.5px;
}

@mixin btnHoverScale($scale) {
  &:hover {
    transform: scale($scale);
    cursor: pointer;
  }
}

@mixin btnHoverColor {
  &:hover {
    background: $darkGreen;
    color: $mediumGreen;
    cursor: pointer;
  }
}

@mixin title($font-size) {
  color: $mediumGreen;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: $font-size;
}

@mixin articlesSection($width, $top, $padding) {
  width: $width;
  margin: 0 auto;
  background: $backgroundColor;
  top: $top;
  z-index: 2;
  padding: $padding;
  position: relative;
}

@mixin article($padding) {
  margin: 5px 5px 30px 5px;
  padding: $padding;
  @extend %border;
  position: relative;
}

@mixin btn1($padding) {
  text-decoration: none;
  color: $lightGreen;
  letter-spacing: 1px;
  border-radius: 5%;
  padding: $padding;
  @extend %border;
}
